.post{
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 30px;
  border-radius: 10px !important;
  .title{
    font-weight: 600 !important;
    line-height: 1.3em !important;
    margin-bottom: 7px !important;
    padding-left: 20px;
  }
  .text{
    padding-left: 20px;
    margin-bottom: 7px !important;
  }
}

